
 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   font-family: 'Broadway' , sans-serif;
    /*color: #DCDCDC;*/
  /*color:white;*/
}

 
 h1, h2, h3, h4, h5, h6, p {
     margin-bottom: 5px;
 }

.top {
  position: fixed;
  /*background-color: rgba(255,255,255,0.5);*/
  text-align: center;
  bottom:1.5rem;
  right:1.5rem;
  width:3rem;
  height:3rem;
  line-height: 3rem;
  font-size:1.5rem;
  border-radius: .5rem;
  border:1px solid white;
  box-shadow: 0 0 2px 0px white;
  transition: opacity 1s ease;
  opacity:0;
  cursor: pointer;
}

.top.scrolled {
  color:#000;
  text-shadow: 0px 0px 2px #fff;
  opacity:1;
}

.box {
  height:950px;
  border-bottom:2px solid white;
  padding-top: 80px;
  /*color:black;*/
  /*font-size:20px;*/
  text-align: center;
   overflow: hidden;
  /*width: 100%*/
}




.subSection {
     height: 950px;
    /*background-color: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)) bisque;*/
    
     /*background: linear-gradient(red, yellow);*/
     border-bottom:2px solid white;
     text-align: center;
     /*color: #DCDCDC;*/
     overflow: hidden;
     font-size:20px;
     text-align: center;
     padding-top: 80px;
}

    #logo{
     font-size: 35px;
     color:#4775ff; 
     /*text-align: left;    */
    }

 nav {
     display: block;
     border-bottom:1px solid white;
     position: fixed;
     width: 100%;
     height: 80px;    
     z-index: 00;
     list-style-type: none;
     text-align: left;    
     background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)) black;
     /*overflow: hidden;*/
}

ul {
     list-style: none;
     text-align: left;
     padding-left: 200px;
}

li {
     display: inline-block;
 }

     a {
     text-decoration: none;
     color:white;
     display: block;
     margin-left:10px ;
     padding-top: 10px;
     font-size: 24px;
     transition:color 1s ease;
     /*line-height: 80px;*/
     text-align: left;
     /*margin-left: 80px;*/
}

#home {
         /*background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("rightside.JPG");
    background-size: cover;
     color:#DCDCDC;  
  /*background-color: #663399;*/*/
}
#about {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("rightside.JPG");
    background-size: cover;
     color:#DCDCDC;  
      
}

#menu {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("knifeboard.jpeg");
     background-size: cover;

}

        /*FORMAT ABOUT TEXT*/
p.ex1 {
    /*border: 1px solid red; */
    margin: 0 200px;
    text-align: left;
    font-size: 18px;
    height: 400px;
    padding top: 90px;       

}


#catering {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("buffettable.jpg");
    background-size: cover;
     color:#DCDCDC;  
     font-size: 30px;
}

#contact {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("frontrightside.JPG");
     background-size: cover;
     color:#DCDCDC; 

}



 .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
}
 @-webkit-keyframes fade {
     from {
        opacity: .4
    }
     to {
        opacity: 1
    }
}
 @keyframes fade {
     from {
        opacity: .4
    }
     to {
        opacity: 1
    }
}
/* On smaller screens, decrease text size */
 /*@media only screen and (max-width: 300px) {
     .text {
        font-size: 11px
    }*/
}

/*Menu style*/

 .active {
     color: #white;
     font-family: broadway, sans-serif;
     font-size: 30px;
}
 .grid {
     display: grid;
     grid-column-gap: 15px;
     text-align: center;
     color: black;
     margin: 20px;
     padding-bottom: 10px;
     grid-template-columns: auto auto auto auto;
     grid-template-rows: auto auto auto ;
     grid-template-areas: "subs hotdogs alacarte breakfast" "hamburgers chicken nachos vegetarian" "combomeals kidsmeals drinks extras" 
}
 .subs {
     grid-area: subs;
}
 .hotdogs {
     grid-area: hotdogs;
}
 .alacarte {
     grid-area: alacarte;
}
 .breakfast {
     grid-area: breakfast;
}
 .hamburgers {
     grid-area: hamburgers;
}
 .chicken {
     grid-area: chicken;
}
 .nachos {
     grid-area: nachos;
}
 .vegetarian {
     grid-area: vegetarian;
}
 .combomeals {
     grid-area: combomeals;
}
 .kidsmeals {
     grid-area: kidsmeals;
}
 .drinks {
     grid-area: drinks;
}
 .extras {
     grid-area: extras;
}
/*.grid div:nth-child(even) {
     background-color: red;
}
 .grid div:nth-child(odd) {
     background-color: green;
}
 */
 @media screen and (min-width: 739px);
 {

    width:100%;
     .grid {
         display: grid;
         text-align: center;
         color: white;
         margin: 20px;
         grid-column-gap: 15px;
         grid-template-columns: 1fr auto auto auto;
         grid-template-rows: auto auto auto;
         grid-template-areas: "subs hotdogs alacarte breakfast" "hamburgers chicken nachos vegetarian" "combomeals kidsmeals drinks extras" 
    }
}
 @media screen and (max-width: 100%) {
     nav {
         grid-template-columns: 100%;
         grid-template-rows: auto;
         grid-gap: 1em;
    }
}

@media screen and (max-width: 640px){
    .box{
        width: 100%;
    }
    .p.ex1{
        width: 100%;
        margin: 0 40px;
        font-size: 8px;
    }
}

@media screen and (max-width: 320px){
    #box{
        width: 100%;
    }
     #p.ex1{
        width: 100%;
        margin: 0 40px;
    }
}
/*start of accordion*/
 .accordion {
    /*background-color: #eee;
    */
     background: linear-gradient(#4775ff, #00007c);
     color: white;
     cursor: pointer;
     padding: 5px;
     border: none;
     text-align: left;
     outline: none;
     font-size: 16px;
     transition: 0.4s;
     text-align: center;

    /*margin-left: 5px;
    */
     width: 100%;
}
  .active,.accordion:hover {
     background-color: #ccc;
}
 .panel {
     padding: 0 5px;
     display: none;
     background-color: white;
     color:black;
     /*min-height: 0px;*/
     overflow: hidden;
     /*transition: max-height 0.1s ease-out;*/
     font-size: 14px;
    
}
